body{font-family: 'Lato', sans-serif;opacity: 0;}
img{max-width: 100%;}
.navbar-fixed nav{background: rgba(0,0,0,.8);}
.navbar-fixed nav .nav-wrapper a.brand-logo img{height: 54px;margin: 5px 0;}
nav ul a {text-transform: uppercase;font-size: .9rem;}
.slider ul.slides .caption h3{margin-bottom:0;background: rgba(0,0,0,.7);width: 340px;padding: 10px 5px;font-size: 2rem;}
.slider ul.slides .caption h5{background: rgba(255, 235, 59, 0.8);color: #222;font-size: 1.3rem;width: 420px;padding: 10px 5px;margin-top: 5px;}
.slider .indicators .indicator-item.active{background-color:#ffeb3b;}
.slider .indicators .indicator-item{background-color:rgba(0,0,0,.5);}
.slider.fullscreen ul.slides{background: #000;}
.slider .slides li img{opacity: .7;}
nav ul a:hover,nav ul a.active{color:#ffeb3b;background-color: #222;}
.side-nav li:hover, .side-nav li.active {background-color: #222;}
/*************    Loading page    *************/
#load {position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 50px;height: 50px;background-color: #ffeb3b;border-radius: 50%;}
#load:after {content: '';position: absolute;border-radius: 50%;top: 50%;left: 50%;border: 0px solid #fff;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);-webkit-animation: loading 1000ms ease-out forwards infinite;animation: loading 1000ms ease-out forwards infinite;}
@-webkit-keyframes loading {0% {border: 0px solid #fff;}20% {border: 8px solid #fff;width: 0%;height: 0%;}100% {border: 8px solid #fff;width: 100%;height: 100%;}}
@keyframes loading {0% {border: 0px solid #fff;}20% {border: 8px solid #fff;width: 0%;height: 0%;}100% {border: 8px solid #fff;width: 100%;height: 100%;}}
/*************    Home page Bienvenue    *************/
#materialbox-overlay{opacity: 0 !important;}
.bienvenue h1{margin-top: -30px;}
.container h1{font-size: 2.5rem;text-align: center;font-weight: lighter;margin-bottom:15px;color: #333;}
.container h1 span{font-weight: bold;}
img.stars{margin: 0 auto;display: block;}
.bienvenue .col,.restaurant_bg .restaurant .col{margin-top: 30px;}
.bienvenue .col p:first-child,.restaurant_bg .restaurant .col p:first-child,.restaurant_bg .restaurant h1{margin-top: 0;}
.bienvenue .col p,.salle p,.restaurant_bg .restaurant .col p, footer p,footer .container .row .col .info span,.container p.h_text{font-size: 1.2rem;color: #888;letter-spacing: .5px;font-weight: lighter;}
.bienvenue .col a,.cofe a,.salle a,.restaurant_bg .restaurant a,footer .container .row a,.container .row form.col button{color:#333;}
.bienvenue .col img,.restaurant_bg .restaurant .col img,footer .container .row .col .row .col img{border: 2px solid #FFD600;padding: 4px;}
/*************    Home page Cofe    *************/
.bg_cofe{background: #f9f9f9;margin-top: 35px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 10px 0;}
.bg_cofe .cofe .row{margin-top: 20px;}
.bg_cofe .cofe a,.salle a{width: 200px;margin:0px auto 20px;display: block;}
.bg_cofe .cofe .card .card-content {padding: 5px 0;text-align: center;}
/*************    Home page Salle de Concert    *************/
.concert_salle{background: #000;overflow: hidden;}
.concert_salle .salle{position: relative;}
.concert_salle .salle_bg{opacity:.6;background: url('../imgs/salle_bg.jpg') center no-repeat fixed;width: 100%;height: 100%;background-size: cover;position: absolute;}
.concert_salle .salle p{text-align: center;margin: 25px 0;color:#fff;font-weight: normal;}
.concert_salle .salle h1{margin-top: 0;padding-top:30px;color:#fff;}
.concert_salle .salle a{margin-bottom: 35px;}
/*************    Home page Restaurant    *************/
.restaurant_bg{background:#fff;position: relative;padding: 30px 0 15px 0;}
/*************    Home page espace de jeux    *************/
.jeux{background: #f9f9f9;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 10px 0;}
.jeux h1{margin-top: 15px !important;}
iframe{width: 100%;margin: 1rem auto 2rem;}
/*************    Hotel page first title    *************/
.f_title .bg_title{padding:2rem 0;background:rgba(0,0,0,.6);}
.f_title{border-top: 2px solid #FFEB3B;border-bottom: 2px solid #FFEB3B;background: url('../imgs/salle_bg.jpg') center no-repeat;background-size: cover;}
.p_cofe{background: url('../imgs/hotel2.jpg') center no-repeat;}
.p_salle{background: url('../imgs/hotel4.jpg') center no-repeat;}
.p_restaurant{background: url('../imgs/hotel3.jpg') center no-repeat;}
.p_jeux{background: url('../imgs/bg_game.jpg') center no-repeat;}
.p_contact{background: url('../imgs/maps.png') center no-repeat;}
.f_title .bg_title .container h1{margin: 0;text-align: left;color: #fff;}
.gallery{margin-bottom: 2rem;}
.clear {clear: both;float: none;width: 100%;}
.container .gallery a img {float: left;width: 20%;height: auto;border: 2px solid #fff;-webkit-transition: -webkit-transform .15s ease;-moz-transition: -moz-transform .15s ease;-o-transition: -o-transform .15s ease;-ms-transition: -ms-transform .15s ease;transition: transform .15s ease;position: relative;}
.container .gallery a:hover img {-webkit-transform: scale(1.05);-moz-transform: scale(1.05);-o-transform: scale(1.05);-ms-transform: scale(1.05);transform: scale(1.05);z-index: 5;}
.container .gallery a.big img {width: 40%;}
.align-center {text-align: center;}
form .valid{background: #72FF91;width: 100%;display: block;padding: 5px 10px;text-align: center;color: #333;font-size: 1.2rem;}
/*************    footer    *************/
footer{background:#333;color: #fff;padding-top: 20px;border-top: 2px solid #FFEB3B;}
footer p{color: #fff;}
footer .container .row .col img.targante_logo{width: 150px;margin: 0 auto 20px;display: block;}
footer .container .row .col .s_network a img{padding: 10px;}
footer .container .row .col h2{font-size: 1.4rem;}
footer .container .row .col .row .col img{border-width: 1px;padding: 2px;}
footer .container .row .col .row .col{padding: .2rem;}
footer .container .row .col .row a{color: #333;margin: 1rem 0 0 .2rem;}
footer .container .row a.f_btn{width: 140px;font-size: .8rem;padding: 0;height: 40px;line-height: 40px;}
footer .container .row .col h2::after{content: "";width: 60px;height: 3px;background: #ffeb3b;display: block;margin-top: 20px;}
footer .container .row .col .info{display: table;margin-bottom: 1rem;}
footer .container .row .col .info img{width: 20px;vertical-align: middle;margin-right: 1rem;}
footer .container .row .col .info span{color: #fff;font-size: 1rem}
footer .copy_right{background: #ffeb3b;color:#333;padding: .6rem 0;font-size: .9rem;}
footer .copy_right .container .row .col:nth-child(2) span{text-align: right;display: block;}
footer .copy_right .container .row{margin-bottom: 0;}
footer .copy_right .container .row .col span a{color: #365CEC;font-weight: bold;}
/********************************************/
/*************    responsive    *************/
/********************************************/
@media only screen and (max-width: 993px) {
	nav .brand-logo {width: 100%;text-align: right;}
	.bienvenue .col a,.restaurant_bg .restaurant .col a {width: 200px;margin: 0 auto;display: block;}
	.bienvenue .col p,.restaurant_bg .restaurant .col p {text-align: center;}
}
@media only screen and (max-width: 600px) {
	.navbar-fixed nav .nav-wrapper a.brand-logo img {height: 46px;}
	.slider ul.slides .caption h3 {width: 200px;font-size: 1.3rem;}
	.slider ul.slides .caption h5 {font-size: 1.2rem;width: 225px;}
	footer .copy_right .container .row .col span{text-align: center !important;display: block;}
	.f_title .bg_title .container h1{font-size: 1.8rem;}
}